<div class="mt-3 h-48 bg-primary-50 flex flex-row justify-center items-center mb-14" *ngIf="product">
    <div class=" w-fit h-fit">
        <h4>SHOP DETAIL</h4>
        <p class="text-xs mt-2 text-center"><a routerLink="" class="text-danger-500 no-underline hover:underline "
                routerLink="/home">Home</a><span class="text-gray-500"> - Shop Detail</span>
        </p>
    </div>
</div>

<div class="mx-20 sm:grid sm:grid-cols-3 mb-10 gap-8">
    <div class="col-span-1">
        <img class="border-b-2 border-gray-200" src="./assets/{{product.pictureUrl}}" [alt]="product.name" />
    </div>
    <div class="col-span-2 my-auto ms-20">
        <h5 class="mb-3 mt-3">{{product.name}}</h5>
        <h6 class="mb-3">{{product.price|currency:"EPG"}}</h6>
        <p class="text-neutral-600">{{product.description}}</p>
        <div class="mt-3 flex flex-col sm:flex-row ">
            <div>
                <button class="bg-danger-500 py-1 px-3 hover:text-white" (click)="decreaseCount()"><i
                        class="fa fa-minus text-xs"></i></button>
                <span class="bg-primary-50 py-1.5 text-sm px-3">{{count}}</span>
                <button class="bg-danger-500 py-1 px-3 hover:text-white" (click)="increaseCount()"><i
                        class="fa fa-plus text-xs"></i></button>
            </div>
            <div>
                <button class="py-1 px-3 ml-3 bg-danger-500  hover:text-white "><i
                        class="fa fa-shopping-cart text-xs"></i>
                    Add To Cart</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center mb-4">——<span class="px-2  text-2xl font-bold ">You May Also Like</span>——</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-3 mx-20">
    <ng-container *ngFor="let product of relatedProducts">
        <app-product-item [product]="product"></app-product-item>
    </ng-container>
</div>