<div class="mt-3 h-48 bg-primary-50 flex flex-row justify-center items-center mb-16">
    <div class=" w-fit h-fit">
        <h4>OUR SHOP</h4>
        <p class="text-xs mt-2 text-center"><a routerLink=""
                class="text-danger-500 no-underline hover:underline " routerLink="/home">Home</a><span class="text-gray-500"> - Shop</span>
        </p>
    </div>

</div>

<div class="grid sm:grid-cols-12 grid-cols-5"> <!--main container -->
    <div 
        class="col-span-3 sm:col-span-10 md:col-span-3 lg:col-span-2 lg:col-start-2  md:col-start-2  sm:col-start-2 col-start-2 ">
        <!--category list-->
        <ul *ngIf="categories"
            class="md:w-11/12 w-full   text-sm   ps-0 text-gray-900 text-opacity-70 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <li class="w-full px-4 py-2 border-b border-gray-200 first:rounded-t-lg" *ngFor="let category of categories"
                [ngClass]="{'bg-danger-500':shopParams.categoryId==category.id,'text-white':shopParams.categoryId==category.id}"
                (click)="onSelectedCategory(category.id)">
                {{category.name}}</li>
        </ul>
    </div>
    <div class="md:col-span-7 lg:col-span-8 sm:col-span-10 sm:col-start-2 col-span-3 col-start-2 ">
        <div class="grid grid-cols-8">
            <!--search-->
            <div class="mb-3 col-span-7 sm:col-span-4 md:col-span-5 lg:col-span-3 xl:col-span-3">
                <div class="relative  flex w-full flex-wrap items-stretch">
                    <input type="search"
                        class="relative h-8 m-0  placeholder-neutral-400 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3  text-base font-normal  text-neutral-700 focus:ring-danger-50 focus:border-danger-50 "
                        placeholder="name" aria-label="Search" aria-describedby="button-addon1" 
                        [(ngModel)]="shopParams.search"
                        (input)="onReset()"
                        />

                    <!--Search button-->
                    <button
                        class="relative z-[2] h-8 flex bg-white justify-center items-center rounded-r border border-solid border-neutral-300 bg-transparent px-3 py-2.5 text-xs font-medium uppercase    focus:outline-none"
                        (click)="onSearch()"
                        type="button" id="button-addon1" data-te-ripple-init data-te-ripple-color="light">
                        <i class="fa fa-search text-danger-500 text-sm"></i>
                    </button>
                </div>
            </div>
            <!--sort-->

            <div class="relative col-span-1 col-start-9 " data-te-dropdown-ref>
                <button
                    class="flex items-center whitespace-nowrap rounded justify-center px-3 pb-[4px] pt-[6px] text-sm font-normal border border-1  leading-normal text-neutral-600  transition duration-150 ease-in-out   focus:outline-none focus:ring-0   motion-reduce:transition-none"
                    type="button" id="dropdownMenuSmallButton" data-te-dropdown-toggle-ref aria-expanded="false"
                    data-te-ripple-init data-te-ripple-color="light">
                    sort by
                    <span class=" w-2">
                        <i class='fa fa-caret-down h-5 w-5 text-sm '></i>
                    </span>
                </button>
                <ul class="absolute z-[1000] border border-1 float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base font-normal  [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuSmallButton" data-te-dropdown-menu-ref>
                    <li class="block w-full  hover:bg-neutral-50 ps-0 pe-3 py-2 text-sm font-normal text-neutral-700  active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent "
                        *ngFor="let item of sortOptions" (click)="onSelectedSort(item.value)">
                        {{item.name}}
                    </li>
                </ul>
            </div>

        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3  gap-3 ">
            <ng-container *ngFor="let product of productList|paginate:{
                  itemsPerPage: shopParams.pageSize,
                  currentPage: shopParams.pageNumber,
                  totalItems: totalCount
            }">
                <app-product-item [product]="product"></app-product-item>
            </ng-container>
        </div>
        <div class="flex justify-center mt-4 text-sm" *ngIf="totalCount>0">
            <pagination-controls  previousLabel="Prev"
                                  nextLabel="Next" 
                                  [responsive]="true"
                                 (pageChange)="onPageChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>