/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* pagination style */
.ngx-pagination .current {
  background: rgb(224, 112, 129) !important;
  border: transparent !important;
  border-radius: 5px !important;
  
}
